.chart-container {
    height: 300px; 
    width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.089);
    border-radius: 10px;
    margin-bottom: 10px;
}


#date-selector{
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    text-shadow: none;
    background-color: rgb(51, 50, 50);
    color: rgb(133, 130, 130);
    margin: 20px;

}
.outer-container{
    display: flex;
    flex-direction: row;
}